input,textarea,select,#criarTask{
    width: 300px
  }
  #topo{
    width: 100%;
  }
  #task,#tasks{
    float:left;
    width: 50%;
    overflow-y: scroll;
  }
  #totalBar{  
    width:  300px;
  }
  #btLimpar{
    float: right;
  }
  ul{
    list-style: none;
    width: 400px;
  }
  ul li{ 
    text-align: right; padding: 10px; border-bottom: 1px solid #222;
    color: blue;
  }
  ul .active{
      background: pink;
  }
  ul li strong{
    color: #222;
  }
  ul li button{
    float: right;
    margin-left: 20px;
  }
  button{
      color: #fff;
    background-color: #444;
  }
  progress{ 
   appearance: none;
  }
  #tasks progress::-webkit-progress-value {
    background-color: blue;
    border-right: var(--timeStop) solid #ff5b00;
    border-left: var(--progress) solid green;
  }